<div class="container">
  <div class="title main mb-5 pointer" routerLink="/employee">IT Inventory App</div>
  <div
    class="mb-3"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start center"
  >
    <div>
      <button mat-button color="primary" [matMenuTriggerFor]="menuEmployee">
        Employees
      </button>
      <mat-menu #menuEmployee="matMenu">
        <button mat-menu-item routerLink="employee/list">List</button>
        <button mat-menu-item routerLink="employee/modify">Add</button>
      </mat-menu>
    </div>
    <div class="font-l color-border">|</div>
    <div>
      <button mat-button color="primary" [matMenuTriggerFor]="menuDevice">
        Devices
      </button>
      <mat-menu #menuDevice="matMenu">
        <button mat-menu-item routerLink="device/list">List</button>
        <button mat-menu-item routerLink="device/modify">Add</button>
      </mat-menu>
    </div>
    <div class="font-l color-border">|</div>
    <div>
      <button mat-button color="primary" [matMenuTriggerFor]="menuInventory">
        Inventory
      </button>
      <mat-menu #menuInventory="matMenu">
        <button mat-menu-item routerLink="inventory/list">List</button>
        <button mat-menu-item routerLink="inventory/modify">Add</button>
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
