<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <div class="mb-2">
    <button
      mat-icon-button
      aria-label="Back button"
      routerLink="/inventory/list"
      aria-label="Back"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="title small">
    {{ isEdit ? "Edit" : "Add New" }} Inventory - Link Device to Empoyee
  </div>
</div>
<form
  name="form"
  (ngSubmit)="!inventoryForm.invalid && onSubmit(inventory)"
  #inventoryForm="ngForm"
  *ngIf="inventory; else noRecord"
>
  <div
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="start stretch"
    fxFlex="50"
  >
    <mat-form-field appearance="outline">
      <mat-label>Enter Employee Name</mat-label>
      <mat-select
        [(ngModel)]="inventory.employee"
        name="employee"
        #employee="ngModel"
        [compareWith]="compareEmployees"
        required
      >
        <mat-option *ngFor="let employee of employees" [value]="employee">
          {{ employee.id }} - {{ employee.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter Device Type</mat-label>
      <mat-select
        [(ngModel)]="inventory.device"
        name="device"
        #device="ngModel"
        [compareWith]="compareDevices"
        [required]="'true'"
      >
        <mat-option *ngFor="let device of devices" [value]="device">
          {{ device.id }} - {{ device.type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inventoryForm.submitted && device.invalid">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter the description</mat-label>
      <input
        matInput
        name="description"
        [(ngModel)]="inventory.description"
        #description="ngModel"
        required="true"
        maxlength="1000"
      />
      <mat-error *ngIf="inventoryForm.submitted && description.invalid">
        This field is required
      </mat-error>
    </mat-form-field>
    <div>Note: Multiple devices can be assigned to an Employee. Single device cannot be assigned to multiple Employees.</div>
    <div>
      <button mat-raised-button color="primary" type="submit" class="mr-3">
        Save
      </button>
      <button mat-raised-button type="button" routerLink="/inventory/list">
        Cancel
      </button>
    </div>
  </div>
</form>
<ng-template #noRecord>
  <div class="blank-message">No Record found</div>
</ng-template>
