.color-primary {
  color: $color-primary;
}

.color-border {
  color: $color-border;
}

.title {
  color: $color-primary;
  &.main {
    font-size: $font-size-base + 15px;
    font-weight: bold;
    margin: 50px 0;
  }

  &.sub {
    font-size: $font-size-base + 6px;
    padding-bottom: 40px;
  }

  &.small {
    font-size: $font-size-base + 1px;
    padding-bottom: 15px;
  }
}

.main-label {
  font-size: $font-size-base + 5px;
  color: $color-secondary;
  font-weight: bold;
  padding-bottom: 30px;
}

.content {
  font-size: $font-size-base + 1px;
  color: $color-secondary;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mr-3 {
  margin-right: 30px !important;
}

.font-l {
  font-size: $font-size-base + 10px;
}

.search-container {
  padding: 24px 24px;
}

.blank-message {
  text-align: center;
  font-size: $font-size-base + 3px;
  color: $color-border;
}
